.div{
    display: flex;
}

.div ul{
    height: 200px;
    overflow-y:auto;
    list-style-type:none;
    width: 170px;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.div ul li{
    cursor: pointer;
    border-bottom: 1px #eee solid;
    padding: 2px 10px;
    font-size: 14px;
}

.botones{
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 5px;
}

.botones button{
    margin: 5px;
}

